[submodule "ext/riscv-opcodes"]
	path = ext/riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
[submodule "ext/docs-resources"]
	path = ext/docs-resources
	url = https://github.com/riscv/docs-resources.git
[submodule "ext/riscv-isa-manual"]
	path = ext/riscv-isa-manual
	url = https://github.com/riscv/riscv-isa-manual
[submodule "ext/llvm-project"]
	path = ext/llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = main
[submodule "ext/riscv-tests"]
	path = ext/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
