.bundle
.python
.singularity
.antora
.home
.yardoc
.stamps
.venv
.asciidoctor
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json
.container-type
diag-ditaa-*
arch/manual/isa/**/riscv-isa-manual
gen
node_modules
_site
images
__pycache__/
*.pyc
.pytest_cache/
*.bak
*.log
sorbet
!tools/ruby-gems/idlc/sorbet
!tools/ruby-gems/udb/sorbet
coverage

# emacs backup files
*~
