name: Publish container
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  publish-singularity-container:
    env:
      SINGULARITY: 1
    strategy:
      matrix:
        runner: [ubuntu-24.04, ubuntu-24.04-arm]
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Clone Github Repo Action
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Install singularity
        run: sudo apt-get install -y singularity-container

      - name: Get container tag
        run: |
          TAG=$(cat bin/.container-tag)
          echo "TAG=$TAG" >> $GITHUB_ENV

      - name: Get container from cache
        id: cache-sif
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: .singularity/image.sif
          key: ${{ hashFiles('container.def', 'bin/.container-tag') }}

      - name: Get gems and node files from cache
        id: cache-bundle-npm
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: |
            .home/.gems
            node_modules
          key: ${{ hashFiles('Gemfile.lock') }}-${{ hashFiles('package-lock.json') }}

      - if: ${{ steps.cache-sif.outputs.cache-hit != 'true' }}
        name: Build container
        run: ./bin/build_container

      - name: Upload singularity container
        run: |
          apptainer registry login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }} oras://docker.io
          apptainer push .singularity/image.sif oras://docker.io/riscvintl/spec-generator:${{ env.TAG }}

  build-docker-container:
    env:
      DOCKER: 1
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-24.04
            platform: linux/amd64
          - runner: ubuntu-24.04-arm
            platform: linux/arm64
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Clone Github Repo Action
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Get container tag
        run: |
          TAG=$(cat bin/.container-tag)
          echo "TAG=$TAG" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          file: ./.devcontainer/Dockerfile
          platforms: ${{ matrix.platform }}
          outputs: type=image,name=riscvintl/udb,push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: digests-${{ matrix.runner }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  merge-docker-container:
    runs-on: ubuntu-24.04
    needs:
      - build-docker-container
    steps:
      - name: Clone Github Repo Action
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Download digests
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4
        with:
          pattern: digests-*
          merge-multiple: true
          path: /tmp/digests

      - name: Get container tag
        run: |
          TAG=$(cat bin/.container-tag)
          echo "TAG=$TAG" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create \
            --tag riscvintl/udb:${{ env.TAG }} \
            $(printf 'riscvintl/udb@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect riscvintl/udb:${{ env.TAG }}
