name: Regression test

on:
  schedule:
    - cron: '30 2 * * *'
  workflow_dispatch:

jobs:
  # check_date from: https://stackoverflow.com/questions/63014786/how-to-schedule-a-github-actions-nightly-build-but-run-it-only-when-there-where
  check_date:
    runs-on: ubuntu-latest
    name: Check latest commit
    outputs:
      should_run: ${{ steps.should_run.outputs.should_run }}
    steps:
      - uses: actions/checkout@v2
      - name: print latest_commit
        run: echo ${{ github.sha }}

      - id: should_run
        continue-on-error: true
        name: check latest commit is less than a day
        if: ${{ github.event_name == 'schedule' }}
        run: test -z $(git rev-list  --after="24 hours"  ${{ github.sha }}) && echo "::set-output name=should_run::false"
  nightly:
    needs: check_date
    if: ${{ needs.check_date.outputs.should_run != 'false' }}
    runs-on: ubuntu-latest
    steps:
    - name: Clone Github Repo Action
      uses: actions/checkout@v4
    - name: Setup apptainer
      uses: eWaterCycle/setup-apptainer@v2.0.0
    - name: Get container from cache
      id: cache-sif
      uses: actions/cache@v3
      with:
        path: .singularity/image.sif
        key: ${{ hashFiles('container.def', 'bin/.container-tag') }}
    - name: Get gems and node files from cache
      id: cache-bundle-npm
      uses: actions/cache@v3
      with:
        path: |
          .home/.gems
          node_modules
        key: ${{ hashFiles('Gemfile.lock') }}-${{ hashFiles('package-lock.json') }}
    - if: ${{ steps.cache-sif.outputs.cache-hit != 'true' }}
      name: Build container
      run: ./bin/build_container
    - name: Setup project
      run: ./bin/setup
    - name: Run regression
      run: ./do test:nightly
