name: Regression test
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  regress-pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.1
  regress-smoke:
    runs-on: ubuntu-latest
    env:
      SINGULARITY: 1
    steps:
      - name: Clone Github Repo Action
        uses: actions/checkout@v4
      - name: Setup apptainer
        uses: eWaterCycle/setup-apptainer@v2.0.0
      - name: Get container from cache
        id: cache-sif
        uses: actions/cache@v3
        with:
          path: .singularity/image.sif
          key: ${{ hashFiles('container.def', 'bin/.container-tag') }}
      - name: Get gems and node files from cache
        id: cache-bundle-npm
        uses: actions/cache@v3
        with:
          path: |
            .home/.gems
            node_modules
          key: ${{ hashFiles('Gemfile.lock') }}-${{ hashFiles('package-lock.json') }}
      - if: ${{ steps.cache-sif.outputs.cache-hit != 'true' }}
        name: Build container
        run: ./bin/build_container
      - name: Setup project
        run: ./bin/setup
      - name: Run smoke
        run: ./do test:smoke
  regress-gen-isa-manual:
    runs-on: ubuntu-latest
    needs: regress-smoke
    env:
      MANUAL_NAME: isa
      VERSIONS: all
      SINGULARITY: 1
    steps:
      - name: Clone Github Repo Action
        uses: actions/checkout@v4
      - name: Setup apptainer
        uses: eWaterCycle/setup-apptainer@v2.0.0
      - name: Get container from cache
        id: cache-sif
        uses: actions/cache@v3
        with:
          path: .singularity/image.sif
          key: ${{ hashFiles('container.def', 'bin/.container-tag') }}
      - name: Get gems and node files from cache
        id: cache-bundle-npm
        uses: actions/cache@v3
        with:
          path: |
            .home/.gems
            node_modules
          key: ${{ hashFiles('Gemfile.lock') }}-${{ hashFiles('package-lock.json') }}
      - if: ${{ steps.cache-sif.outputs.cache-hit != 'true' }}
        name: Build container
        run: ./bin/build_container
      - name: Generate HTML ISA manual
        run: ./do gen:html_manual
  regress-gen-ext-pdf:
    runs-on: ubuntu-latest
    needs: regress-smoke
    env:
      EXT: B
      VERSION: latest
      SINGULARITY: 1
    steps:
      - name: Clone Github Repo Action
        uses: actions/checkout@v4
      - name: Setup apptainer
        uses: eWaterCycle/setup-apptainer@v2.0.0
      - name: Get container from cache
        id: cache-sif
        uses: actions/cache@v3
        with:
          path: .singularity/image.sif
          key: ${{ hashFiles('container.def', 'bin/.container-tag') }}
      - name: Get gems and node files from cache
        id: cache-bundle-npm
        uses: actions/cache@v3
        with:
          path: |
            .home/.gems
            node_modules
          key: ${{ hashFiles('Gemfile.lock') }}-${{ hashFiles('package-lock.json') }}
      - if: ${{ steps.cache-sif.outputs.cache-hit != 'true' }}
        name: Build container
        run: ./bin/build_container
      - name: Generate extension PDF
        run: ./do gen:ext_pdf
  regress-gen-certificate:
    runs-on: ubuntu-latest
    needs: regress-smoke
    env:
      SINGULARITY: 1
    steps:
      - name: Clone Github Repo Action
        uses: actions/checkout@v4
      - name: Setup apptainer
        uses: eWaterCycle/setup-apptainer@v2.0.0
      - name: Get container from cache
        id: cache-sif
        uses: actions/cache@v3
        with:
          path: .singularity/image.sif
          key: ${{ hashFiles('container.def', 'bin/.container-tag') }}
      - name: Get gems and node files from cache
        id: cache-bundle-npm
        uses: actions/cache@v3
        with:
          path: |
            .home/.gems
            node_modules
          key: ${{ hashFiles('Gemfile.lock') }}-${{ hashFiles('package-lock.json') }}
      - if: ${{ steps.cache-sif.outputs.cache-hit != 'true' }}
        name: Build container
        run: ./bin/build_container
      - name: Generate extension PDF
        run: ./do gen:proc_crd_pdf[MockProcessor]
  regress-gen-profile:
    runs-on: ubuntu-latest
    needs: regress-smoke
    env:
      SINGULARITY: 1
    steps:
      - name: Clone Github Repo Action
        uses: actions/checkout@v4
      - name: Setup apptainer
        uses: eWaterCycle/setup-apptainer@v2.0.0
      - name: Get container from cache
        id: cache-sif
        uses: actions/cache@v3
        with:
          path: .singularity/image.sif
          key: ${{ hashFiles('container.def', 'bin/.container-tag') }}
      - name: Get gems and node files from cache
        id: cache-bundle-npm
        uses: actions/cache@v3
        with:
          path: |
            .home/.gems
            node_modules
          key: ${{ hashFiles('Gemfile.lock') }}-${{ hashFiles('package-lock.json') }}
      - if: ${{ steps.cache-sif.outputs.cache-hit != 'true' }}
        name: Build container
        run: ./bin/build_container
      - name: Generate extension PDF
        run: ./do gen:profile_release_pdf[MockProfileRelease]
